.App {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

button{
  color: white;
  background-color: rgb(102,102,102);
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pokemones{
  width: 15%;
}
